:root {
    --text-color: #333333;
    --link-color: #666666;
    --link-color-active: #333333;
    --background-color: #eeeeee;
    --background-color-button: #dddddd;
    --background-color-button-active: #cccccc;
    --border-color: #dddddd;
}

body {
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    line-height: 1.5;
    color: var(--text-color);
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-flow: column;
}

nav>ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
}

nav>ul>li {
    margin: 0;
    padding: 0;
    flex: 0 0 auto;
    list-style: none;
}

nav>ul>li>a {
    display: block;
    margin: 0;
    padding: .5rem;
    color: var(--link-color);
    text-decoration: none;
}

nav>ul>li>a:focus,
nav>ul>li>a:hover {
    color: var(--link-color-active);
    text-decoration: underline;
}

header {
    flex: 0 0 auto;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border-color);
}

main {
    display: flex;
    flex-flow: column;
    flex: 1 1 100%;
    padding: 1.5rem;
    align-items: center;
    box-sizing: border-box;
}

footer {
    flex: 0 0 auto;
    box-sizing: border-box;
    background-color: var(--background-color);
    border-top: 1px solid var(--border-color);
}

footer>nav>ul {
    justify-content: center;
}

/* form */

form {
    width: 100%;
    max-width: 40rem;
    display: grid;
    grid-template-areas:
        "progress progress"
        "question question"
        "previous next";
}

form>progress {
    grid-area: progress;
    justify-self: center;
}

form>button.previous {
    grid-area: previous;
    justify-self: start;
}

form>button.next {
    grid-area: next;
    justify-self: end;
}

survey-question {
    grid-area: question;
    display: none;
}

input,
select,
textarea {
    font: inherit;
    line-height: inherit;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    background-color: var(--background-color);
}

input[type=text],
input[type=number] {
    padding: 0 0.5rem;
}

textarea {
    width: 100%;
    height: 4.5rem;
    margin: 0;
    padding: 0 0.5rem;
    box-sizing: border-box;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    resize: none;
}

button {
    padding: 0.25rem 1rem;
    font: inherit;
    color: var(--link-color);
    line-height: 1.5rem;
    font-weight: bold;
    vertical-align: middle;
    border: none;
    border-radius: 0.125rem;
    background-color: var(--background-color-button);
}

button:active {
    background-color: var(--background-color-button-active);
}

button[disabled] {
    opacity: 0.5;
}

form-group,
radio-group {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: .5rem;
    margin: 0 0 1.5rem 0;
    padding: 1.5rem;
    border: 1px solid var(--border-color);
    border-radius: .25rem;
}

form-group>[slot=header],
radio-group>[slot=header] {
    margin: 0 0 0.5rem 0;
    padding: 0;
    font: inherit;
    font-weight: bold;
    grid-column: 1 / span 2;
}

form-group>[slot=description],
radio-group>[slot=description] {
    margin: 0 0 0.5rem 0;
    grid-column: 1 / span 2;
    color: var(--link-color);
}

form-group>check-box,
radio-group>check-box,
form-group>radio-button,
radio-group>radio-button {
    grid-column: 1 / span 2;
}

form-group>textarea,
radio-group>textarea {
    margin-top: 0.5rem;
    grid-column: 1 / span 2;
}

form-group>button,
radio-group>button {
    margin-top: 0.5rem;
    grid-column: 1 / span 2;
    justify-self: end;
}
