:root {
    --font-size: 16px;
    --line-height: 1.5rem;
    --text-color: #333333;
    --text-color-secondary: #666666;
    --link-color: #666666;
    --link-color-active: #333333;
    --link-color-disabled: #999999;
    --background-color: #ffffff;
    --background-color-active: #1e90ff;
    --background-color-input: rgba(0, 0, 0, .1);
    --background-color-button: #e5e5e5;
    --background-color-button-active: #cccccc;
    --background-color-button-disabled: #efefef;
    --border-color: rgba(0, 0, 0, .2);
    --icon-color: #333333;
    --border-radius: .125rem;
    --border-width: .125rem;
    --width: 40rem;
}

:focus {
    outline: none;
}

::placeholder {
    font: inherit;
    font-weight: bold;
    color: var(--border-color);
}

html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: normal;
    font-size: var(--font-size);
    line-height: var(--line-height);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    box-sizing: border-box;
    background-color: var(--background-color);
}

header {
    flex: 0 0 auto;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: center;
    flex: 1 1 100%;
    overflow: scroll;
    box-sizing: border-box;
}

footer {
    flex: 0 0 auto;
    box-sizing: border-box;
}

footer>nav>ul>li>a {
    font-weight: normal;
    font-size: .75rem;
}

/* sections */

main>section {
    display: flex;
    flex-flow: column;
    justify-content: stretch;
    align-items: stretch;
    flex: 1 1 100%;
    overflow: scroll;
    width: 100%;
    max-width: var(--width);
    max-height: 100%;
}

main>section[aria-hidden=true] {
    display: none;
}

/* navigation */

nav {
    display: flex;
    justify-content: center;
}

nav>ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    max-width: 25rem;
    width: 100%;
}

nav>ul>li {
    margin: 0;
    padding: 0;
    flex: 0 0 auto;
    list-style: none;
}

nav>ul>li>a {
    --icon-color: currentColor;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: .75rem;
    color: var(--link-color);
    font-weight: bold;
    text-decoration: none;
}

nav>ul>li>a>ui-icon {
    margin-right: .25rem;
}

nav>ul>li>a:focus,
nav>ul>li>a:hover {
    color: var(--link-color-active);
}

h1, h2 {
    margin: 0;
    padding: 1.5rem 1.5rem;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: normal;
}

h1 {
    text-align: center;
    visibility: hidden;
    height: 0;
    padding: 0;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin: 0;
    padding: 0 1.5rem 1.5rem;
}

/* form */

@keyframes loader {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: min(calc(100vw - 3rem), 37rem) 0px;
    }
}

progress {
    width: calc(100% - 3rem);
    height: .25rem;
    margin: 0;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    background-color: var(--background-color-input);
    border-radius: var(--border-radius);
    border: none;
}

progress:not([value]) {
    animation: loader 1s linear infinite;
    background-image: linear-gradient(to right, var(--background-color), var(--background-color-active));
    background-repeat: repeat-x;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

progress::-webkit-progress-value {
    background-color: var(--background-color-active);
}

progress::-moz-progress-bar {
    background-color: var(--background-color-active);
}

progress:not([value])::-moz-progress-bar {
    background-color: transparent;
}

form {
    width: 100%;
    max-width: 40rem;
    flex: 1 1 100%;
    display: grid;
    grid-template-areas:
        "progress progress progress"
        "question question question"
        "previous . next";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 6rem 2fr 1fr;
}

form>progress {
    grid-area: progress;
    justify-self: center;
}

button.previous {
    display: inline-flex;
    flex-flow: row nowrap;
    padding: .75rem;
    margin: 0 0 0 1.5rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    box-shadow: 0 0 0 .125rem var(--background-color);
}

button.previous>ui-icon {
    --icon-color: currentColor;
}

form>button.previous {
    grid-area: previous;
    justify-self: start;
}

button.next {
    display: inline-flex;
    flex-flow: row nowrap;
    padding: .75rem;
    margin: 0 1.5rem 0 0;
    width: 3rem;
    height: 3rem;
    color: #fff;
    background-color: var(--background-color-active);
    border-radius: 50%;
    box-shadow: 0 0 0 .125rem var(--background-color);
}

button.next:active:not(:disabled) {
    background-color: #0075eb;
}

button.next>ui-icon {
    --icon-color: currentColor;
}

button.again {
    display: inline-flex;
    flex-flow: row nowrap;
    padding: .75rem;
    color: #fff;
    background-color: var(--background-color-active);
}

button.again:active:not(:disabled) {
    background-color: #0075eb;
}

button.again>ui-icon {
    --icon-color: currentColor;
    margin-left: 0.25rem;
}

form>button.next {
    grid-area: next;
    justify-self: end;
}

@keyframes slide-out {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-40rem, 0);
    }
}

@keyframes slide-in {
    0% {
        transform: translate(40rem, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(-360deg);
    }
}

survey-question:not(:defined),
survey-end:not(:defined) {
    display: none;
}

survey-question,
survey-end {
    grid-area: question;
    display: block;
    max-height: 100%;
    overflow: scroll;
    opacity: 1;
    visibility: visible;
    transition: opacity, visibility;
    transition-duration: 0.3s, 0s;
    transition-delay: 0s, 0s;
    animation: slide-in 0.3s ease-in-out;
}

survey-question[aria-hidden=true],
survey-end[aria-hidden=true] {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.3s, 0s;
    transition-delay: 0s, 0.3s;
    animation: slide-out 0.3s ease-in-out;
}

survey-end>h2 {
    margin: 0;
    padding: 1.25rem 1.5rem 1.5rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: normal;
    grid-column: 1 / span 2;
}

survey-end>p {
    margin: 0;
    padding: 0 1.5rem 1.5rem;
    grid-column: 1 / span 2;
    color: var(--text-color-secondary);
}

input,
textarea {
    font: inherit;
    line-height: inherit;
    color: inherit;
    box-sizing: border-box;
    background-color: var(--background-color-input);
    background-clip: padding-box;
    border-radius: .25rem;
    border: var(--border-width) solid var(--border-color);
}

input[type=text],
input[type=number] {
    padding: 0 .75rem;
}

textarea {
    width: 100%;
    height: 4.5rem;
    margin: 0;
    padding: .375rem .75rem;
    box-sizing: border-box;
    border: var(--border-width) solid var(--border-color);
    border-radius: .25rem;
    resize: none;
}

button {
    padding: 0.25rem 1rem;
    font: inherit;
    color: var(--link-color);
    line-height: 1.5rem;
    font-weight: bold;
    vertical-align: middle;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--background-color-button);
}

button:active {
    background-color: var(--background-color-button-active);
}

button[disabled] {
    color: var(--link-color-disabled);
    background-color: var(--background-color-button-disabled);
}

ui-icon[icon=sync] {
    animation: rotate 1s linear infinite;
}

ui-select {
    display: inline-block;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    background-color: var(--background-color-button);
    border-radius: 0.125rem;
}

ui-select>select {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    padding: 0.25rem 2.5rem 0.25rem 1rem;
    font: inherit;
    line-height: inherit;
    font-weight: bold;
    color: var(--link-color);
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

ui-select>select:-ms-expand {
    display: none;
}

ui-select>ui-icon {
    --icon-color: var(--link-color);
    position: absolute;
    top: .25rem;
    right: .25rem;
    padding-left: .25rem;
    box-sizing: content-box;
    pointer-events: none;
    border-left: 1px solid rgba(0, 0, 0, .1);
}

form-group,
radio-group {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: .75rem;
    align-items: center;
    margin: 0;
}

form-group>[slot=header],
radio-group>[slot=header] {
    margin: 0;
    padding: 1.25rem 1.5rem 1.5rem;
    font-size: 1.5rem;
    line-height: 2.25rem;
    font-weight: normal;
    grid-column: 1 / span 2;
}

form-group>[slot=description],
radio-group>[slot=description] {
    margin: 0;
    padding: 0 1.5rem 1.5rem;
    grid-column: 1 / span 2;
    color: var(--text-color-secondary);
}

form-group>check-box,
radio-group>check-box,
form-group>radio-button,
radio-group>radio-button {
    margin: 0 1.5rem;
    padding: .375rem;
    grid-column: 1 / span 2;
}

form-group>textarea,
radio-group>textarea {
    width: auto;
    margin: 0.75rem 1.5rem;
    grid-column: 1 / span 2;
}

form-group>label {
    margin-left: 1.5rem;
}

form-group>label+input,
form-group>label+ui-select {
    margin-right: 1.5rem;
}

form-group>button,
radio-group>button {
    margin-top: 0.5rem;
    grid-column: 1 / span 2;
    justify-self: end;
}

@media (max-width: 460px) {

    button.previous {
        position: absolute;
        left: 1.5rem;
        bottom: 1.5rem;
        margin: 0;
    }

    button.next {
        position: absolute;
        right: 1.5rem;
        bottom: 1.5rem;
        margin: 0;
    }

    form {
        width: 100%;
        height: 100%;
        max-width: 40rem;
        max-height: 100%;
        display: grid;
        grid-template-areas:
            "progress"
            "question";
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
    }

    form-group,
    radio-group {
        padding-bottom: 4.5rem;
    }
}
