:root {
    /* --grid: 12px; */
    --grid: 1rem;
    --font-family: 'Helvetica Neue', Arial, sans-serif;
    --font-size: calc(4/3 * var(--grid));
    --line-height: calc(2 * var(--grid));
    --color-primary: dodgerblue;
    --color-primary-contrast: #fff;
    --color-text: #333;
    --color-text-secondary: #888;
    --color-text-disabled: #999;
    --color-link: #666;
    --color-link-focus: #333;
    --color-link-disabled: #999;
    --background-color: #fff;
    --background-color-active: dodgerblue;
    --background-color-input: #e5e5e5;
    --background-color-button: #ccc;
    --background-color-button-active: #bbb;
    --background-color-button-disabled: #e5e5e5;
    --border-radius: calc(1/6 * var(--grid));
    --border-width: calc(1/6 * var(--grid));
    --border-color: #bbb;
    --width: 60ch;
}

html {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: var(--font-family);
    /* 1 grid unit is now basically 1rem/12px */
    font-size: 12px;
    line-height: 12px;
    color: var(--color-text);
    background-color: var(--background-color);
    -webkit-font-smoothing: antialiased;
}

html * {
    font: inherit;
    color: inherit;
    line-height: inherit;
}

/*********************
* LAYOUT
*********************/

body {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    line-height: var(--line-height);
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-rows: auto 1fr auto;
    background-color: var(--background-color);
}

header {
    grid-area: header;
    box-sizing: border-box;
}

main {
    grid-area: main;
    overflow: auto;
    box-sizing: border-box;
}

footer {
    grid-area: footer;
    box-sizing: border-box;
}

/*********************
* ELEMENTS
*********************/

:focus {
    outline: none;
    box-shadow: 0 0 0 var(--border-width) var(--color-primary);
}

::placeholder {
    font: inherit;
    font-weight: bold;
    color: var(--color-text-secondary);
}

h1,
h2 {
    margin: 0;
    padding: 2rem 2rem;
    font-size: 2rem;
    line-height: 3rem;
    font-weight: normal;
}

h1 {
    text-align: center;
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;

}

p {
    margin: 0;
    padding: 0 2rem 2rem;
}

textarea {
    width: 100%;
    height: 7rem;
    margin: 0;
    padding: 0.5rem 1rem;
    color: inherit;
    font: inherit;
    line-height: inherit;
    resize: none;
    box-sizing: border-box;
    background-color: var(--background-color-input);
    background-clip: padding-box;
    border: none;
    border-radius: var(--border-radius);
}

button {
    padding: 0.5rem 1.5rem;
    font: inherit;
    line-height: inherit;
    font-weight: bold;
    color: var(--color-link-focus);
    vertical-align: middle;
    border: none;
    border-radius: var(--border-radius);
    background-color: var(--background-color-button);
}

button:active {
    background-color: var(--background-color-button-active);
}

button:focus {
    box-shadow:
        0 0 0 var(--border-width) var(--background-color),
        0 0 0 calc(2 * var(--border-width)) var(--color-primary);
}

button[disabled] {
    color: var(--color-link-disabled);
    background-color: var(--background-color-button-disabled);
}

button.previous,
button.next {
    position: absolute;
    left: 0;
    bottom: 2rem;
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0 0 0 2rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
}

button.previous:not(:focus),
button.next:not(:focus) {
    box-shadow: 0 0 0 var(--border-width) var(--background-color);
}

button.previous>ui-icon,
button.next>ui-icon {
    --icon-color: currentColor;
}

button.next {
    left: auto;
    right: 0;
    margin: 0 2rem 0 0;
}

button.next:not(:disabled),
button.again:not(:disabled) {
    color: var(--color-primary-contrast);
    background-color: var(--color-primary);
}

button.next:active:not(:disabled),
button.again:active:not(:disabled) {
    background-color: #0075eb;
}

button.again>ui-icon {
    --icon-color: currentColor;
    margin-left: 1rem;
}

ui-select {
    display: inline-block;
    max-width: 100%;
    position: relative;
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    background-color: var(--background-color-button);
    border-radius: var(--border-radius);
}

ui-select>select {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    padding: 0.333rem 3rem 0.333rem 1rem;
    font: inherit;
    line-height: inherit;
    font-weight: bold;
    color: var(--link-color);
    overflow: hidden;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
}

ui-select>select:-ms-expand {
    display: none;
}

ui-select>ui-icon {
    --icon-color: var(--link-color);
    position: absolute;
    top: .333rem;
    right: .333rem;
    padding-left: .333rem;
    box-sizing: content-box;
    pointer-events: none;
    border-left: 1px solid rgba(0, 0, 0, .1);
}

/*********************
* NAVIGATION
*********************/

nav {
    display: flex;
    justify-content: center;
}

nav>ul {
    margin: 0;
    padding: 1.25rem 2rem;
    width: 100%;
    max-width: var(--width);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

nav>ul>li {
    margin: 0;
    padding: 0;
    flex: 0 0 auto;
    list-style: none;
}

nav>ul>li>a {
    --icon-color: currentColor;
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding: 0.25rem 2rem;
    color: var(--color-text-secondary);
    font-weight: bold;
    text-decoration: none;
    border-radius: 2rem;
}

nav>ul>li>a>ui-icon {
    margin-right: calc(1rem / 3);
    display: none;
}

nav>ul>li>a:focus,
nav>ul>li>a:hover {
    color: var(--color-link-focus);
}

nav>ul>li>a[aria-current] {
    color: var(--color-text);
}

/*********************
* FOOTER
*********************/

footer {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    color: var(--color-text-secondary);
}

footer p {
    padding: 0;
}

footer>nav>ul {
    padding: 0.75rem;
}

footer>nav>ul>li>a {
    font-weight: normal;
}

/*********************
* PROGRESS
*********************/

@keyframes loader {
    0% {
        background-position: 0px 0px;
    }

    100% {
        background-position: min(calc(100vw - 3rem), 37rem) 0px;
    }
}

progress {
    width: calc(100% - 4rem);
    height: calc(1rem / 3);
    margin: 0;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    background-color: var(--background-color-input);
    border-radius: var(--border-radius);
    border: none;
}

progress:not([value]) {
    animation: loader 1s linear infinite;
    background-image: linear-gradient(to right, var(--background-color), var(--background-color-active));
    background-repeat: repeat-x;
}

progress::-webkit-progress-bar {
    background-color: transparent;
}

progress::-webkit-progress-value {
    background-color: var(--background-color-active);
}

progress::-moz-progress-bar {
    background-color: var(--background-color-active);
}

progress:not([value])::-moz-progress-bar {
    background-color: transparent;
}

/*********************
* MAIN
*********************/

main>section {
    width: 100%;
    height: 100%;
    max-width: calc(4rem + var(--width));
    max-height: 100%;
    margin: 0 auto;
}

main>section[aria-hidden=true] {
    display: none;
}

/*********************
* SURVEY
*********************/

@keyframes slide-out {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-40rem, 0);
    }
}

@keyframes slide-in {
    0% {
        transform: translate(40rem, 0);
    }

    100% {
        transform: translate(0, 0);
    }
}

form {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas:
        "progress progress progress"
        "question question question"
        "previous . next";
    grid-template-columns: auto 1fr auto;
    grid-template-rows: auto 1fr auto;
}

form>progress {
    grid-area: progress;
    justify-self: center;
}

survey-question:not(:defined),
survey-end:not(:defined) {
    display: none;
}

survey-question,
survey-end {
    padding-bottom: 6rem;
    grid-area: question;
    display: block;
    max-height: 100%;
    overflow: auto;
    opacity: 1;
    visibility: visible;
    transition: opacity, visibility;
    transition-duration: 0.3s, 0s;
    transition-delay: 0s, 0s;
    animation: slide-in 0.3s ease-in-out;
}

survey-question[aria-hidden=true],
survey-end[aria-hidden=true] {
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity, visibility;
    transition-duration: 0.3s, 0s;
    transition-delay: 0s, 0.3s;
    animation: slide-out 0.3s ease-in-out;
}

form-group,
radio-group {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    align-items: center;
    margin: 0;
}

form-group>[slot=header],
radio-group>[slot=header] {
    padding-top: calc(2rem - 1rem/3);
    grid-column: 1 / span 2;
}

form-group>[slot=description],
radio-group>[slot=description] {
    grid-column: 1 / span 2;
    color: var(--color-text-secondary);
}

form-group>check-box,
radio-group>check-box,
form-group>radio-button,
radio-group>radio-button {
    margin: 0 2rem;
    padding: .5rem;
    grid-column: 1 / span 2;
}

form-group>textarea,
radio-group>textarea {
    width: auto;
    margin: 1rem 2rem;
    grid-column: 1 / span 2;
}

form-group>label {
    margin-left: 2rem;
}

form-group>label+input,
form-group>label+ui-select {
    margin-right: 2rem;
}

@media (min-width: 70ch) and (min-height: 40rem) {

    #home,
    #results {
        padding-top: 5rem;
    }

    survey-question,
    survey-end {
        padding-bottom: 1rem;
        padding-top: 5rem;
    }

    form {
        grid-template-rows: max-content max-content auto;
    }

    form>button.previous {
        position: static;
        margin-bottom: calc(var(--grid) / 3);
        grid-area: previous;
        justify-self: start;
    }

    form>button.next {
        position: static;
        margin-bottom: calc(var(--grid) / 3);
        grid-area: next;
        justify-self: end;
    }
}

@media (prefers-color-scheme: dark) {

    :root {
        --color-text: #fff;
        --color-text-secondary: #899;
        --color-text-disabled: #9aa;
        --color-link: #899;
        --color-link-focus: var(--color-text);
        --color-link-disabled: #9aa;
        --background-color: #212527;
        --background-color-active: dodgerblue;
        --background-color-input: #585b5c;
        --background-color-button: #585b5c;
        --background-color-button-active: #606769;
        --background-color-button-disabled: #414344;
        --border-color: #585b5c;
    }
}
